.profile{
    form{
        width:100%;
        padding:10px;
        .row{
            display: flex;
            .container{
                margin:1%;
                border:2px solid grey;
                border-radius:5px;
                padding:10px;
            }
        }
    }

    @media (min-width:1200px) {
        form{
            margin-left:-0%
        }
    }
    @media(max-width: 900px){
        form{
            margin-left:20%;
            .row{
                display:grid;
                margin: 0 auto;
                margin-left:5%;
            }
        }
    }
}
