.sidebar{
    height:83vh;
    text-align: center;
    margin-bottom: -10%;
    li{
        padding:20px 10px;
        border-bottom: 1px solid lightgray;
    }
    i{
        color:lightblue;
    }
}

.sidenav{
    text-align: center;
    margin: 0rem;
    li{
        padding: 10px;
        border-bottom: 1px solid lightgray;
    }
}
