.dashboard-header {
  background: $baseBlue;
}
.dashboard-header .brand-logo {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.dashboard-header .brand-logo img {
  height: 40px;
  vertical-align: middle;
}
.dashboard-header i {
  margin-left: 5px;
}
.dashboard-header i:hover {
  cursor: pointer;
  opacity: 0.8;
}
