.onewayTripContainer {
  overflow-y: auto;
  padding-bottom: 20px;
  height: 90vh;
  @media (max-width: 500px) {
    height: 80vh;
  }
  .content {
    width: calc(100%-240px);
    form {
      width: 400px;
      margin-top: 40px;
      @media (max-width: 600px) {
        width: initial;
      }
      .submitBtn button {
        text-transform: none;
      }
      .row::after {
        clear: none;
      }
    }
  }
}
