.onewayTripContainer {
  form {
    width: 60% !important;
    margin: 40px 20% 15vh 15% !important;
    @media (max-width: 600px) {
      margin: 40px 0px 25vh 0px !important;
      width: initial !important;
    }
    .submitBtn button {
      text-transform: none;
    }
  }
}
