.sideMenuContainer {
  margin-top: 40px;
  .profile {
    img {
      height: 80px;
    }
    a {
      position: relative;
      margin-top: -60px;
    }
  }
  .menu {
    margin-top: 20px;
    .menuItem {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      vertical-align: middle;
      padding: 10px 10px;
      i {
        margin-top: 10px;
        color: $baseBlue;
      }
    }
  }
  .menu .menuItem:hover {
    background: $lightBlue;
    cursor: pointer;
  }
}

.fixed-sidebar {
  width: 240px;
  float: left;
  border-right: 2px solid grey;
  overflow-y: auto;
  height: 90vh;
  position: fixed;
  bottom: 10vh;
  padding-top: 50px;
}
