footer .footer-copyright .row {
	width: 100%;
	margin-bottom: 0;
}

footer .subtitle {
	font-family: 'Archivo', sans-serif;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 10px;
}

.page-footer .footer-copyright {
	background-color: #083b66;
}

.social-icons a {
	margin-right: 20px;
}
