//COLORS
$baseBlue: #083B66;
$lightBlue: #DEE7F0;
$errorColor: #E21E0D;
$lightGrey: #F6F4F4;
$green: green;

// Shadows
$rightShadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
$bottomShadow: 3px 0px 8px rgba(0, 0, 0, 0.25);

$sideImg: url('~/../assets/background.jpg');
