$baseBlue: #083B66;
$lightBlue: #DEE7F0;
$errorColor: #E21E0D;
$resetPasswordBc: url('../../assets/background.jpg');
$color-main: #083b66;
$color-accent:#f5f6f8;
$color-cont-back:#f5fafe;
$color-white:#ffffff;
$color-transparent:rgba(30, 41, 139, 0.205);


$sideImg: url('../../assets/background.jpg');
